@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #1a2e05; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

select {
  /* Change the cursor color to white */
  caret-color: white;
}
